/*-------------------------
Global settings
-------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
/*----------------------
menu settings
-------------------------*/
 .container > *{
     padding: 20px;
     grid-gap: 10px;
     min-height: 100vh;
 }
