/*borde box prop to all html
-----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------
own color varibles
-------------------------*/
:root {
  --clr-body: #000000;
  --clr-icons: #929292;
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --cdlr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
}
/*-----------------------------
grid
-----------------------------*/
.content{
  grid-area: content;
}
.sidebar{
  grid-area: sidebar;
  justify-content: center;

  background: linear-gradient(to right,
  rgba(249,107,142,1),
  rgba(218,103,230,1),
  rgba(130,125,253,1));
}
.footer{
  grid-area: footer;
}
/*-----------------------------
container menu ACTIVATE GRID
-------------------------------*/
.container{
  font-size: 1.5em;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-areas: 
  "sidebar"
  "content"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 130px 800px 250px;
}
/*------------------------------
set padding 1 em
------------------------------*/
.content,
.sidebar,
.footer {
  padding: 1em;
}
/*---------------------------------------
navbar
----------------------------------------*/
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav li {
  list-style: none;
  padding: 1em 0;
}
nav li a {
  text-decoration: none;
  color: var(--clr-text);
  font-weight: 700;
  opacity: 0.6;

  transition: transform 0.3s; /*animation*/
}
nav li a:hover {
  opacity: 1;
}
/*-----------------------------------
hero 
--------------------------------*/
.hero {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.avatar {
  border-radius: 40%;
  max-width: 400px ;
}