/*borde box prop to all html
-----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------
own color varibles
-------------------------*/
:root {
  --clr-body: #000000;
  --clr-icons: #929292;
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --cdlr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
}

/*----------------------------*/
body {
  margin: 3em 3em;

  background-color: var(--clr-body);
  color: var(--clr-text);
  font-family: "Poppins", sans-serif;
}

/*---------------------------------------
navbar
----------------------------------------*/
header {
  width: 100%;
  height: 70px;
  margin-bottom: 5%;
}

.navbar {
  margin: 0 auto;
  text-align: center;

  display: flex;
  
  line-height: 70px;
  width: 100%;

  color: var(--clr-text);
  text-decoration: none;
}

.nav-links {
  display: inline-block;
}

.nav-link {
  line-height: 70px;
  font-weight: 500;

  text-decoration: none;
  color: var(--clr-icons);
}

.logo {
  line-height: 70px;
  width: 60px;
  height: 60px;
}

.menu-bar {
  margin-left: 1%;
  height: 22px;
  width: 20px;
}

/*----------------------------------------
main
--------------------------------------------*/
.main {
  grid-template-columns: repeat(2, 1fr);

  max-width: 1000px;
  margin: 20px auto;
  width: 90%;
}

.text-card {

}

/*----------------------------------------------
main imgs
--------------------------------------------*/
.card {
  margin: 0;
  padding: 0;
}